<%= provide(:title, "ブックマークを追加するページ") %>
<% if signed_in? %>

  <h1>ブックマークを追加するよ</h1>
  <%= form_for(@entry) do |f| %>
    <div class="sign">
       <%= f.text_field :url %>
       <%= f.submit %>
    </div>
    
  <% end %>		 
<% end %>

<div id="footer">
Copyright (C) 有明三日目. All Rights Reserved.　
</div>
