<%= provide(title:"Sign Up!")  %>
<div id="sign_up"> 
  <h2>Sign Up!</h2>

  <%= form_for(@user) do |f| %>
    <%= render :template => 'users/_form' %>
  <% end %>

  <%= link_to 'Back', root_path %>
</div>
