* {
  margin: 0px;
  padding: 0px; }

body {
  background: #fff image-url("bg_78_9.gif") repeat;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.3em; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.3em; }

h1{
  color:#000;
  font-size:1.5em;	
}

h2{
  margin: 5px 0px;
  padding: 0px;
  font-size:1.2em;	
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #333;
  text-decoration: underline;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #333;
    background-color: #7cfc00; 
  } 
}

div {
  &.field, &.actions {
    margin-bottom: 10px;  
  } 
}

#container {
  width: 800px;
  margin: 0px auto;
}

#notice {
  font-size: 1.2em;
  color: #7cfc00; }

.field_with_errors {
  padding: 2px;
  background-color: #f00;
  display: table;
  color:#333; }

#error_explanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  margin: 10px auto;
  background-color: #fff;
  color: #f00;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1em;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #f00;
    color: #000; }
  ul {
     margin: 5px 5px 5px 1em; }  
  ul li {
     font-size: 0.8em;
     list-style-type: square; } }
