body {
  background: #eee image-url("bg_78_9.gif") repeat;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

h1{
  color:#000;
  font-size:120%;	
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  text-decoration: underline;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #000;
    background-color: #7cfc00; 
  } 
}

div {
  &.field, &.actions {
    margin-bottom: 10px;  
  } 
}

#notice {
  color: #7cfc00;
  font-weight: bold; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0 7px;
  margin: 0px auto 20px auto;
  background-color: #ff0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
