#my_bookmark {
  width: 420px;
  border: 2px solid #000;
  padding: 6px;
  margin-right: 20px;
  background-color: #fff;
  color: #000;
  float: left;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1em;
    margin: -7px;
    margin-bottom: 0px;
    color: #000; }
  ul li {
    font-size: 1em;
    list-style-type: none; } }

#new_entry {
  width: 320px;
  border: 2px solid #000;
  padding: 6px;
  margin: 0px;
  background-color: #fff;
  color: #000;
  float: right;
  display: inline;
  position: relative;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1em;
    margin: -7px;
    margin-bottom: 0px;
    color: #000; }
  ul li {
    font-size: 1em;
    list-style-type: none; } }

#footer { 
 width: 800px;
 clear: both;
 color: #333;
 border: 0px;
 background: transparent;
 margin: 10px;
 padding: 10px;
 text-align: center;
}