<header>
  <div id="header-inner">
    <div id="logo">
    <img src="images/header_logo.png" width="400px" height="40px" alt="gbm_logo">
    </div>
    <div id="header_navi">
      <ul id="list_header">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Hoge", root_path %></li>
        <li></li>
      </ul>
    </div>
    <div id="form">
      <%= render :template => "sessions/new" %>
    </div>
  </div>
</header>
