<header>
  <div id="header-inner">
    <div id="logo">
    <img src="images/header_logo.png" width="400px" height="40px" alt="gbm_logo">
    </div>
    <div id="header_navi">
      <ul id="list_header">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
         <li><%= link_to "MyPage", root_path %></li>
        <% else %>
         
        <% end %>
        <li></li>
      </ul>
    </div>
    <div id="form">
      <% if signed_in? %>
       <%= link_to "Sign out", signout_path, method: "delete" %>　
      <% else %>
       <%= render :template => "sessions/new" %>
      <% end %>
    </div>
  </div>
</header>
