<div id="header">
  <div id="header-inner">
    <div id="logo">
    <img src="images/header_logo.png" width="200px" height="50px" alt="gbm_logo">
    </div>
    <div id="header_navi">
      <ul id="list_header">
        <% if signed_in? %>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "MyPage", root_path %></li>
        <% end %>
        <li></li>
      </ul>
    </div>
    <div id="form">
      <% if signed_in? %>
       <%= link_to "Sign out", signout_path, method: "delete" %>　
      <% end %>
    </div>
  </div>
</div>
