<header>
  <div id="header-inner">
    <div id="logo">
    <img src="images/header_logo.png" width="400px" height="40px" alt="gbm_logo">
    </div>
    <div id="header_navi">
      <ul id="list_header">
        <li><a href="users/new.html">Home</a></li>
        <li><a href="users/hogehoge.html">MyPage</a></li>
        <li></li>
      </ul>
    </div>
    <div id="form">
    form
    </div>
  </div>
</header>