<div id="header">
  <div id="header-inner">
    <div id="logo">
    <%=image_tag("gbm_logo.png",:size=>"330x50",:alt=>"gbm_logo")%>
    </div>
    <div id="header_navi">
      <ul id="list_header">
        <% if signed_in? %>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "Add", '/add' %></li>
        <% end %>
        <li><% if signed_in? %>
       <%= link_to "Sign out", signout_path, method: "delete" %>　
      <% end %></li>
      </ul>
    </div>
  </div>
</div>
